@use "variables";

.color-card{
  border: 1px solid variables.$border-color;
  padding: 12px;
  border-radius: variables.$border-radius;
  &.compact{
    padding: 4px 6px;
  }
  &.sub-compact{
    padding: 2px 6px;
  }
  &.primary{
    border-color: variables.$color-primary;
    &:not(.transparent) {
      background-color: variables.$bg-color-primary-primary;
    }
  }
  &.success{
    border-color: variables.$color-success;
    &:not(.transparent) {
      background-color: variables.$bg-color-success;
    }
  }
  &.success-success{
    border-color: variables.$color-success;
    &:not(.transparent) {
      background-color: variables.$bg-color-success-success;
    }
  }
  &.danger{
    border-color: variables.$color-danger;
    &:not(.transparent){
      background-color: variables.$bg-color-danger;
    }
  }
  &.danger-danger{
    border-color: variables.$color-danger;
    &:not(.transparent) {
      background-color: variables.$bg-color-danger-danger;
    }
  }
}