

.container{
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.container-full{
  margin-left: 20px;
  margin-right: 20px;
}

.flex{
  display: flex;
  align-items: center;
}

.justify-between{
  justify-content: space-between;
}
.justify-end{
  justify-content: end;
}
.items-start{
  align-items: start;
}
.items-center{
  align-items: center;
}
.items-stretch{
  align-items: stretch;
}
.gap-5{gap: 5px;}
.gap-10{gap: 10px;}
.gap-20{gap: 20px;}
.gap-30{gap: 30px;}
.gap-40{gap: 40px;}
.gap-50{gap: 50px;}