
@use "variables";
@use "normalize";
@use "typography";
@use "layout";
@use "fonts";
@use "buttons";
@use "forms";
@use "tabs";


body{
  color: variables.$text-color;
  background-color: variables.$background-body-color;
}

.table{
  width: 100%;
  th{
    text-align: left;
    font-weight: 600;
    background-color: variables.$head-bg-color;
    padding: 8px 10px;
  }
  tbody > tr > td, thead > tr > td, thead > tr > th {
    border-bottom: 1px solid variables.$border-color;
    padding: 8px 10px;
  }
  tbody > tr{
    &:hover{
      background-color: variables.$table-row-hover-bg;

    }
    &.clickable{
      cursor: pointer;
    }
  }
  &.grid-table{
    tbody > tr > td, thead > tr > td, thead > tr > th{
      border-top: 1px solid variables.$border-color;
      border-bottom:none;
    }
  }


}