@use "variables";
@use "sass:color";

body{
  color: variables.$text-color;
}
.font-bold{
  font-weight: bold;
}
h1,.h1{
  font-size: 2rem;
  font-weight: 500;
}
h2,.h2{
  font-size: 1.5rem;
  font-weight: 500;
}
h3,.h3{
  font-size: 1rem;
  font-weight: 500;
}
h4,.h4{
  font-weight: 500;
}

a,
.router-link-active,
.router-link-exact-active {
  text-decoration: none;
}

a:not(.btn) {
  color: variables.$color-primary;
  transition: color 0.2s ease, opacity 0.2s ease;

  &:hover {
    color: color.adjust(variables.$color-primary, $lightness: -10%);
  }

  &:active {
    opacity: 0.7;
  }
}

.text-success{
  color: variables.$color-success;
}
.text-danger{
  color: variables.$color-danger;
}
.text-muted{
  color: color.adjust(variables.$text-color, $lightness: +40%);
}