// Base colors
$text-color: #171717;
$text-color-light: #dddddd;

$color-primary: #256FA8;
$color-secondary: #6B7280;

$color-success: #16A34A;
$color-danger: #DC2626;

// Disabled
$color-disabled-bg: #E5E7EB;
$color-disabled-fg: #9CA3AF;
$color-disabled-border: #D1D5DB;

// UI
$border-color: #DDDDDD;
$head-bg-color: #F9FAFB;

$border-radius: 5px;